- const { serverURL, option, pageview } = theme.waline
- const { lazyload, count, use } = theme.comments

script.
  function loadWaline () {
<<<<<<< HEAD
=======
    function insertCSS () {
      const link = document.createElement("link")
      link.rel = "stylesheet"
      link.href = "!{url_for(theme.asset.waline_css)}"
      document.head.appendChild(link)
    }

>>>>>>> e5e3a0e (my blog first commit)
    function initWaline () {
      const waline = Waline.init(Object.assign({
        el: '#waline-wrap',
        serverURL: '!{serverURL}',
        pageview: !{lazyload ? false : pageview},
        dark: 'html[data-theme="dark"]',
        path: window.location.pathname,
        comment: !{lazyload ? false : count},
      }, !{JSON.stringify(option)}))
    }

<<<<<<< HEAD
    const walineCSSLoad = document.getElementById('waline-css')

    if (typeof Waline === 'object') {
      walineCSSLoad ? initWaline() : getCSS('!{url_for(theme.asset.waline_css)}','waline-css').then(initWaline)
    }
    else {
      getCSS('!{url_for(theme.asset.waline_css)}','waline-css').then(() => {
        getScript('!{url_for(theme.asset.waline_js)}').then(initWaline)
      })
=======
    if (typeof Waline === 'function') initWaline()
    else {
      insertCSS()
      getScript('!{url_for(theme.asset.waline_js)}').then(initWaline)
>>>>>>> e5e3a0e (my blog first commit)
    }
  }

  if ('!{use[0]}' === 'Waline' || !!{lazyload}) {
    if (!{lazyload}) btf.loadComment(document.getElementById('waline-wrap'),loadWaline)
    else setTimeout(loadWaline, 0)
  } else {
    function loadOtherComment () {
      loadWaline()
    }
  }
  

